In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df_heart= pd.read_csv("HeartDiseaseTrain-Test.csv")
df_heart.head()

,age,sex,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,rest_ecg,Max_heart_rate,exercise_induced_angina,oldpeak,slope,vessels_colored_by_flourosopy,thalassemia,target
0,52,Male,Typical angina,125,212,Lower than 120 mg/ml,ST-T wave abnormality,168,No,1.0,Downsloping,Two,Reversable Defect,0
1,53,Male,Typical angina,140,203,Greater than 120 mg/ml,Normal,155,Yes,3.1,Upsloping,Zero,Reversable Defect,0
2,70,Male,Typical angina,145,174,Lower than 120 mg/ml,ST-T wave abnormality,125,Yes,2.6,Upsloping,Zero,Reversable Defect,0
3,61,Male,Typical angina,148,203,Lower than 120 mg/ml,ST-T wave abnormality,161,No,0.0,Downsloping,One,Reversable Defect,0
4,62,Female,Typical angina,138,294,Greater than 120 mg/ml,ST-T wave abnormality,106,No,1.9,Flat,Three,Fixed Defect,0

In [15]:
df_heart.columns

Index(['age', 'sex', 'chest_pain_type', 'resting_blood_pressure',
       'cholestoral', 'fasting_blood_sugar', 'rest_ecg', 'Max_heart_rate',
       'exercise_induced_angina', 'oldpeak', 'slope',
       'vessels_colored_by_flourosopy', 'thalassemia', 'target'],
      dtype='object')

In [16]:
df_heart.rename(columns={
    "sex": "gender",
    "resting_blood_pressure": "systolic_bp",
    "cholestoral": "cholesterol",
    "fasting_blood_sugar": "glucose"
}, inplace= True)

# df_heart.head()

In [17]:
df_heart["diastolic_bp"]= 80
df_heart["bmi"]= 25
df_heart["smoking"]= 0
df_heart["alcohol"]= 0
df_heart["family_history"]= 0

In [18]:
schema_cols = [
    "age",
    "gender",
    "systolic_bp",
    "diastolic_bp",
    "glucose",
    "cholesterol",
    "bmi",
    "smoking",
    "alcohol",
    "family_history",
    "target"
]

df_heart= df_heart[schema_cols]
df_heart.head()

,age,gender,systolic_bp,diastolic_bp,glucose,cholesterol,bmi,smoking,alcohol,family_history,target
0,52,Male,125,80,Lower than 120 mg/ml,212,25,0,0,0,0
1,53,Male,140,80,Greater than 120 mg/ml,203,25,0,0,0,0
2,70,Male,145,80,Lower than 120 mg/ml,174,25,0,0,0,0
3,61,Male,148,80,Lower than 120 mg/ml,203,25,0,0,0,0
4,62,Female,138,80,Greater than 120 mg/ml,294,25,0,0,0,0

In [19]:

df_heart["glucose"]= df_heart["glucose"].map({
    "Lower than 120 mg/ml": 0,
    "Greater than 120 mg/ml": 1
})
df_heart.head()

,age,gender,systolic_bp,diastolic_bp,glucose,cholesterol,bmi,smoking,alcohol,family_history,target
0,52,Male,125,80,0,212,25,0,0,0,0
1,53,Male,140,80,1,203,25,0,0,0,0
2,70,Male,145,80,0,174,25,0,0,0,0
3,61,Male,148,80,0,203,25,0,0,0,0
4,62,Female,138,80,1,294,25,0,0,0,0

In [20]:
df_heart["gender"]= df_heart["gender"].str.strip().map({
    "Male": 1,
    "Female": 0
})

df_heart.head()

,age,gender,systolic_bp,diastolic_bp,glucose,cholesterol,bmi,smoking,alcohol,family_history,target
0,52,1,125,80,0,212,25,0,0,0,0
1,53,1,140,80,1,203,25,0,0,0,0
2,70,1,145,80,0,174,25,0,0,0,0
3,61,1,148,80,0,203,25,0,0,0,0
4,62,0,138,80,1,294,25,0,0,0,0

In [21]:
df_heart.isnull().sum()
df_heart.dtypes

age               int64
gender            int64
systolic_bp       int64
diastolic_bp      int64
glucose           int64
cholesterol       int64
bmi               int64
smoking           int64
alcohol           int64
family_history    int64
target            int64
dtype: object

In [22]:
x= df_heart.drop("target", axis= 1)
y= df_heart["target"]

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
scores= []
scaler= StandardScaler()
model = LogisticRegression(max_iter=1000, class_weight={0:1, 1:2})

for i in range(1,1000):
    x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=i)
    x_train_scaled= scaler.fit_transform(x_train)
    x_test_scaled= scaler.fit_transform(x_test)
    model.fit(x_train_scaled , y_train)
    y_pred= model.predict(x_test_scaled)
    scores.append(accuracy_score(y_pred, y_test))

In [28]:
np.argmax(scores)
scores[423]

0.7560975609756098

In [29]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=423)
x_train_scaled= scaler.fit_transform(x_train)
x_test_scaled= scaler.fit_transform(x_test)
model.fit(x_train_scaled , y_train)
y_pred= model.predict(x_test_scaled)

In [30]:
from sklearn.metrics import confusion_matrix
cm= confusion_matrix(y_test,y_pred)
cm

array([[ 34,  58],
       [ 11, 102]])

In [31]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.76      0.37      0.50        92
           1       0.64      0.90      0.75       113

    accuracy                           0.66       205
   macro avg       0.70      0.64      0.62       205
weighted avg       0.69      0.66      0.63       205

In [32]:
y_prob= model.predict_proba(x_test_scaled)[:,1]
def heart_risk_prob(prob):
    if prob< 0.30:
        return "LOW"
    elif prob< 0.60:
        return "MODERATE"
    else:
        return "HIGH"
    
def heart_recommendation(risk):
    if risk == "LOW":
        return "No immediate concern. Maintain healthy lifestyle."
    elif risk == "MODERATE":
        return "Medical consultation recommended."
    else:
        return "Urgent cardiac evaluation advised."

In [33]:
for i in range(5):
    print(
        f"Risk Probability: {y_prob[i]*100:.1f}%",
        "| Risk Level:", heart_risk_prob(y_prob[i])
    )

Risk Probability: 63.9% | Risk Level: HIGH
Risk Probability: 55.9% | Risk Level: MODERATE
Risk Probability: 36.2% | Risk Level: MODERATE
Risk Probability: 85.1% | Risk Level: HIGH
Risk Probability: 88.7% | Risk Level: HIGH

In [42]:
df_heart1= pd.read_csv("HeartDiseaseTrain-Test.csv")
df_heart1.head()

,age,sex,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,rest_ecg,Max_heart_rate,exercise_induced_angina,oldpeak,slope,vessels_colored_by_flourosopy,thalassemia,target
0,52,Male,Typical angina,125,212,Lower than 120 mg/ml,ST-T wave abnormality,168,No,1.0,Downsloping,Two,Reversable Defect,0
1,53,Male,Typical angina,140,203,Greater than 120 mg/ml,Normal,155,Yes,3.1,Upsloping,Zero,Reversable Defect,0
2,70,Male,Typical angina,145,174,Lower than 120 mg/ml,ST-T wave abnormality,125,Yes,2.6,Upsloping,Zero,Reversable Defect,0
3,61,Male,Typical angina,148,203,Lower than 120 mg/ml,ST-T wave abnormality,161,No,0.0,Downsloping,One,Reversable Defect,0
4,62,Female,Typical angina,138,294,Greater than 120 mg/ml,ST-T wave abnormality,106,No,1.9,Flat,Three,Fixed Defect,0

In [43]:
from sklearn.preprocessing import LabelEncoder

le= LabelEncoder()

cat_cols= [
    "sex",
    "chest_pain_type",
    "rest_ecg",
    "exercise_induced_angina",
    "slope",
    "vessels_colored_by_flourosopy",
    "thalassemia"
]

for cols in cat_cols:
    df_heart1[cols]= le.fit_transform(df_heart[cols])
df_heart1.head()

,age,sex,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,rest_ecg,Max_heart_rate,exercise_induced_angina,oldpeak,slope,vessels_colored_by_flourosopy,thalassemia,target
0,52,1,3,125,212,Lower than 120 mg/ml,2,168,0,1.0,0,3,3,0
1,53,1,3,140,203,Greater than 120 mg/ml,1,155,1,3.1,2,4,3,0
2,70,1,3,145,174,Lower than 120 mg/ml,2,125,1,2.6,2,4,3,0
3,61,1,3,148,203,Lower than 120 mg/ml,2,161,0,0.0,0,1,3,0
4,62,0,3,138,294,Greater than 120 mg/ml,2,106,0,1.9,1,2,0,0

In [46]:
# df_heart1["fasting_blood_sugar"]= df_heart1["fasting_blood_sugar"].str.strip().map({
#     "Lower than 120 mg/ml": 0,
#     "Greater than 120 mg/ml":1
# })
df_heart1.head(8)

,age,sex,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,rest_ecg,Max_heart_rate,exercise_induced_angina,oldpeak,slope,vessels_colored_by_flourosopy,thalassemia,target
0,52,1,3,125,212,0,2,168,0,1.0,0,3,3,0
1,53,1,3,140,203,1,1,155,1,3.1,2,4,3,0
2,70,1,3,145,174,0,2,125,1,2.6,2,4,3,0
3,61,1,3,148,203,0,2,161,0,0.0,0,1,3,0
4,62,0,3,138,294,1,2,106,0,1.9,1,2,0,0
5,58,0,3,100,248,0,1,122,0,1.0,1,4,0,1
6,58,1,3,114,318,0,0,140,0,4.4,2,2,2,0
7,55,1,3,160,289,0,1,145,1,0.8,1,1,3,0

In [48]:
x1= df_heart1.drop("target",axis=1)
y1= df_heart1["target"]

In [50]:
scores= []
scaler1= StandardScaler()
model1 = LogisticRegression(max_iter=1000, class_weight={0:1, 1:2})

for i in range(1,1000):
    x_train1,x_test1,y_train1,y_test1= train_test_split(x1,y1,test_size=0.2,random_state=i)
    x_train_scaled1= scaler1.fit_transform(x_train1)
    x_test_scaled1= scaler1.fit_transform(x_test1)
    model1.fit(x_train_scaled1 , y_train1)
    y_pred1= model1.predict(x_test_scaled1)
    scores.append(accuracy_score(y_pred1, y_test1))

In [52]:
# np.argmax(scores)
scores[333]

0.9219512195121952

In [55]:
x_train1,x_test1,y_train1,y_test1= train_test_split(x1,y1,test_size=0.2,random_state=334)
x_train_scaled1= scaler1.fit_transform(x_train1)
x_test_scaled1= scaler1.fit_transform(x_test1)
model1.fit(x_train_scaled1 , y_train1)
y_pred1= model1.predict(x_test_scaled1)
accuracy_score(y_pred1,y_test1)

0.9219512195121952

In [57]:
print(confusion_matrix(y_test1,y_pred1))
print(classification_report(y_test1,y_pred1))

[[ 79   9]
 [  7 110]]
              precision    recall  f1-score   support

           0       0.92      0.90      0.91        88
           1       0.92      0.94      0.93       117

    accuracy                           0.92       205
   macro avg       0.92      0.92      0.92       205
weighted avg       0.92      0.92      0.92       205